.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-right: 75px;
    gap: 18px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.top {
    margin-left: 75px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.two {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding: 75px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 45px;
    font-weight: bolder;
    color: white;
}

.big-image {
 text-align: center;
 flex-shrink: 0;
 min-width: 500px;
 min-height: 300px;
}

.view-btn {
    background-color: #3882f6;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    margin-top: 65px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding: 10px, 24px;
    text-align: left;
}

.description {
    margin-top: -20px;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 52px;
}

.three {
    color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;

}

img {
    max-width: 250px;
    max-height: 250px;
    justify-content: space-between;
    display: flex;
}

.title {
    text-align: center;
}

.albums {
    font-size: 13px;
    gap: 5px;
    display: flex;
}

.text {
    color:#1f2937;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 40px;

}

  img {
    width: 200px;
    height: 200px;
    margin-top: 20px;
  }  
  
  .container {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 100px;
  }
  
  .info {
    max-width: 200px;
  }

  .quote {
    text-align: center;
    font-size: 50px;
  }

.source {
    text-align: right;
    font-size: 25px;
    margin-right: 18%;
}

.third {
    background-color: #e5e7e8;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.blue-container {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 8px;
}

.more-txt {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.larger-txt {
    font-size: 30px;
}

.actual-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    border-radius: 15px;
    color: #3882f6;
    background-color: white;
    border: none;
    font-size: 20px;
} 

footer {
    background-color:#1f2937;
}

.footer-txt {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}
